body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 20px;
}

.titulo1 {
    color: #009688;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.titulo2 {
    color: #009688;
}

.coontenedor {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b;
}
